body {
	background-image: url(space.jpg);
	background-size: cover;
}
section {
	border: 20px solid #333;
	background-color: #fff;
	display: block;
	max-width: 496px;
	margin: 80px auto 0;
}
table {
	border: 2px solid white;
	border-collapse: collapse;
}
td {
	height: 60px;
	width: 60px;
}
tr:nth-child(odd) td:nth-child(even) {
	background-color: #333;
}
tr:nth-child(even) td:nth-child(odd) {
	background-color: #333;
}
td i {
	width: 60px;
	height: 60px;
	display: block;
}
.empire, .republic {
	background: url("./sprite.png") no-repeat;
}
.republic {
	background-position: -64px 0;
}
.selected, .nextStep, .attack {
	box-sizing: border-box;
	border: 2px solid lime;
}
.nextStep {
	border-color: blue;
}
.attack {
	border-color: red;
}