@charset "UTF-8";
@font-face {
  font-family: 'LibreBaskerville';
  src: url("../fonts/LibreBaskerville-Bold.eot");
  src: local("☺"), url("../fonts/LibreBaskerville-Bold.woff") format("woff"), url("../fonts/LibreBaskerville-Bold.ttf") format("truetype"), url("../fonts/LibreBaskerville-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url("../fonts/LibreBaskerville-Italic.eot");
  src: local("☺"), url("../fonts/LibreBaskerville-Italic.woff") format("woff"), url("../fonts/LibreBaskerville-Italic.ttf") format("truetype"), url("../fonts/LibreBaskerville-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url("../fonts/LibreBaskerville-Regular.eot");
  src: local("☺"), url("../fonts/LibreBaskerville-Regular.woff") format("woff"), url("../fonts/LibreBaskerville-Regular.ttf") format("truetype"), url("../fonts/LibreBaskerville-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.eot");
  src: local("☺"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Light.eot");
  src: local("☺"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype"), url("../fonts/Poppins-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.eot");
  src: local("☺"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: local("☺"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.eot");
  src: local("☺"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/Poppins-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font: 14px/1.42857143 'Poppins', Helvetica, Arial, sans-serif;
}

nav {
  height: 75px;
  padding: 25px 0;
  width: 100%;
}

a {
  font: 500 14px/27px 'Poppins', sans-serif;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

h1 {
  color: #fff;
  font: 60px 'LibreBaskerville', Georgia, serif;
  text-align: center;
  margin: 0 auto 60px;
  width: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
  float: none;
}

h2 {
  font: bold 50px/80px 'LibreBaskerville', Georgia, serif;
  margin-top: 110px;
}
h2:before {
  color: #f6f6f6;
  content: '00';
  display: block;
  font: bold 274px 'Poppins', 'Verdana', sans-serif;
  position: absolute;
  z-index: -1;
}

h3 {
  font: 500 20px/80px 'Poppins', 'Verdana', sans-serif;
}

p {
  font: 15px/27px 'Poppins', 'Verdana', sans-serif;
  margin-bottom: 45px;
}

i {
  background: url("../img/icons/sprite.png") no-repeat;
  display: block;
}

button {
  background-color: tomato;
  border: 0;
  border-radius: 50px;
  color: #fff;
  display: block;
  font: 500 16px 'Poppins', sans-serif;
  height: 50px;
  margin: 0 auto 50px;
  text-align: center;
  text-transform: uppercase;
  width: 16.66667%;
  padding-left: 15px;
  padding-right: 15px;
  float: none;
}

svg path {
  fill-rule: evenodd;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1170px;
  /* *** Available variables *** 
    $mob:320px;
    $mob-lan: 480px;
    $huge: 640px;
    $pda: 768px;
    $medium: 992px;
    $pda-lan: 1024px;
    $desktop:1280px;
  */
  /* *** Available variables *** 
    $mob:320px;
    $mob-lan: 480px;
    $huge: 640px;
    $pda: 768px;
    $medium: 992px;
    $pda-lan: 1024px;
    $desktop:1280px;
  */
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 750px;
  }
}

.first-screen {
  background-color: #3f4049;
}
.first-screen .home {
  padding: 120px 0;
}

.about_us {
  height: 1000px;
  padding: 150px 15px;
  position: relative;
}

.our_focus {
  background-color: #f7f7f7;
}

.first-screen .menu {
  float: right;
  list-style-type: none;
  margin-right: 50px;
  /* *** Available variables *** 
    $mob:320px;
    $mob-lan: 480px;
    $huge: 640px;
    $pda: 768px;
    $medium: 992px;
    $pda-lan: 1024px;
    $desktop:1280px;
  */
}
@media only screen and (max-width: 1024px) {
  .first-screen .menu {
    margin-right: 0;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
}
.first-screen .menu-item {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}
.first-screen .menu-item a {
  color: #fff;
}
.first-screen nav .logo {
  width: 16.66667%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
.first-screen nav .logo-img {
  background: url("../img/icons/logo.png") 0 -50px no-repeat;
  display: inline-block;
  height: 27px;
  width: 97px;
}
.first-screen .container {
  padding-top: 175px;
}
.first-screen .features {
  text-align: center;
}
.first-screen .features div:before {
  content: '';
  height: 40px;
  width: 40px;
}
.first-screen .features .fixed-price, .first-screen .features .recieve-time, .first-screen .features .satisfaction {
  display: inline-block;
  font: 18px 'Poppins', 'Verdana', sans-serif;
  margin: 35px auto 175px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  width: 30%;
}
.first-screen .features .fixed-price i, .first-screen .features .recieve-time i, .first-screen .features .satisfaction i {
  height: 40px;
  margin: 0 auto 40px;
  width: 40px;
}
.first-screen .features .fixed-price {
  color: #39b48b;
}
.first-screen .features .fixed-price i {
  background-position: 0 -1px;
}
.first-screen .features .recieve-time {
  color: #b27cf5;
}
.first-screen .features .recieve-time i {
  background-position: -42.5px 0px;
}
.first-screen .features .satisfaction {
  color: #feb960;
}
.first-screen .features .satisfaction i {
  background-position: -85px 0px;
}

.about_us-photo {
  position: absolute;
  z-index: 1;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  float: none;
}
.about_us-photo img {
  max-height: 700px;
  max-width: 555px;
}
.about_us-content {
  background-color: #fff;
  position: relative;
  z-index: 5;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  width: 58.33333%;
  padding-left: 0;
  padding-right: 0;
  float: right;
}
.about_us-descr {
  padding: 0 70px 75px;
  z-index: 10;
}
.about_us-descr h2:before {
  content: '01';
  top: -102px;
  left: -3px;
}

.our_focus {
  text-align: center;
  padding-bottom: 150px;
}
.our_focus .container {
  padding: 30px 0 0;
}
.our_focus-header {
  position: relative;
  z-index: 5;
}
.our_focus h2:before {
  color: #f0f0f0;
  content: '02';
  bottom: -105px;
  display: inline-block;
  left: 50%;
  margin-left: -180px;
}
.our_focus-item {
  background: #fff;
  display: inline-block;
  margin: 0 1%;
  max-width: 265px;
  width: 20%;
  /* *** Available variables *** 
    $mob:320px;
    $mob-lan: 480px;
    $huge: 640px;
    $pda: 768px;
    $medium: 992px;
    $pda-lan: 1024px;
    $desktop:1280px;
  */
}
.our_focus-item p {
  padding: 0 15px;
  line-height: 25px;
}
.our_focus-item .web, .our_focus-item .ux, .our_focus-item .photo, .our_focus-item .app {
  width: 56px;
  height: 48px;
  margin: 60px auto 30px;
}
.our_focus-item .web {
  background-position: -128px 6px;
}
.our_focus-item .ux {
  background-position: -187px -2px;
}
.our_focus-item .photo {
  background-position: -245px 5px;
}
.our_focus-item .app {
  background-position: -300px 3px;
}
@media only screen and (max-width: 992px) {
  .our_focus-item {
    margin: 1% 2.5%;
    max-width: none;
    width: 40%;
  }
}

.footer-rainbow .green-line, .footer-rainbow .orange-line, .footer-rainbow .purple-line, .footer-rainbow .red-line {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
.green-line, .orange-line, .purple-line, .red-line {
  height: 3px;
}

.green-line {
  background-color: #39b48b;
}

.orange-line {
  background-color: #feb960;
}

.purple-line {
  background-color: #b27cf5;
}

.red-line {
  background-color: #fc5f45;
}

.green-svg {
  fill: #39b48b;
}

.orange-svg {
  fill: #feb960;
}

.purple-svg {
  fill: #b27cf5;
}

.red-svg {
  fill: #fc5f45;
}

.white-svg {
  fill: #fff;
}

nav.on-scroll {
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}
nav.on-scroll .logo-img {
  width: 97px;
  height: 27px;
  display: inline-block;
  background: url("../img/icons/logo.png") 0 -9px no-repeat;
}
nav.on-scroll .menu-item a {
  color: #272727;
}
