*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: $bootstrap-text;
  font: 14px/1.42857143 'Poppins', Helvetica, Arial, sans-serif;
}
nav{
  height: 75px;
  padding: 25px 0;
  width: 100%;
}
a{
  font: 500 14px/27px 'Poppins', sans-serif;
  text-decoration: none;
  &:focus, &:hover{
    text-decoration: underline;
  }
}
h1{
  color: #fff;
  font: 60px 'LibreBaskerville', Georgia, serif;
  text-align: center;
  margin: 0 auto 60px;
  @include set-cols-width(10, none);
}
h2{
  font: bold 50px/80px 'LibreBaskerville', Georgia, serif;
  margin-top: 110px;
  &:before{
    color: $light-gray;
    content:'00';
    display: block;
    font: bold 274px 'Poppins', 'Verdana', sans-serif;
    position: absolute;
    z-index: -1;
  }
}
h3{
  font: 500 20px/80px 'Poppins', 'Verdana', sans-serif;
}
p{
  font: 15px/27px 'Poppins', 'Verdana', sans-serif;
  margin-bottom: 45px;
}
i{
  background: url("../img/icons/sprite.png") no-repeat;
  display: block;
}
button{
  background-color: tomato;
  border: 0;
  border-radius: 50px;
  color: #fff;
  display: block;
  font: 500 16px 'Poppins', sans-serif;
  height: 50px;
  margin:0 auto 50px;
  text-align: center;
  text-transform: uppercase;
  @include set-cols-width(2, none);
}
svg{
  path{
    fill-rule: evenodd;   
  }
}