.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1170px;
  @include respond-to($medium) {
    max-width: 970px;
  }
  @include respond-to($pda) {
    max-width: 750px;
  }
}
.first-screen{
  background-color: $slate-gray;
  .home{
    padding: 120px 0;
  }
}
.about_us{
  height: 1000px;
  padding: 150px 15px;
  position: relative;
}
.our_focus{
  background-color: $light-gray-bg;
}
.awesomness{
  background-color: $slate-gray;
  padding-top: 40px;
  height: 500px;
  position: relative;
}