// Colors
$black-text: #272727;
$bootstrap-text: #333333;
$green-text: #39b48b;
$light-gray: #f6f6f6;
$light-gray-bg: #f7f7f7;
$light-gray-bg-num: #f0f0f0;

$orange-text: #feb960;
$purple-text: #b27cf5;
$red-text: #fc5f45;
$slate-gray: #3f4049;

//Media brackpoints
$mob:320px;
$mob-lan: 480px;
$huge: 640px;
$pda: 768px;
$medium: 992px;
$pda-lan: 1024px;
$desktop:1280px;